<div id="<%= dom_id matched_with %>">
  <p>
    <strong>Uid1:</strong>
    <%= matched_with.uid1 %>
  </p>

  <p>
    <strong>Uid2:</strong>
    <%= matched_with.uid2 %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= matched_with.status %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= matched_with.date %>
  </p>

</div>
