<div id="<%= dom_id feedback %>">
  <p>
    <strong>Gives uid:</strong>
    <%= feedback.gives_uid %>
  </p>

  <p>
    <strong>Receives uid:</strong>
    <%= feedback.receives_uid %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= feedback.category %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= feedback.feedback %>
  </p>

</div>
