<div id="<%= dom_id test_user %>">
  <p>
    <strong>Name:</strong>
    <%= test_user.name %>
  </p>

  <p>
    <strong>Join date:</strong>
    <%= test_user.join_date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= test_user.location %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= test_user.bio %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= test_user.gender %>
  </p>

  <p>
    <strong>Preferences:</strong>
    <%= test_user.preferences %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= test_user.birthday %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= test_user.password %>
  </p>

</div>
