<p style="color: green"><%= notice %></p>

<%= render @create_join_table_user_project %>

<div>
  <%= link_to "Edit this create join table user project", edit_create_join_table_user_project_path(@create_join_table_user_project) %> |
  <%= link_to "Back to create join table user projects", create_join_table_user_projects_path %>

  <%= button_to "Destroy this create join table user project", @create_join_table_user_project, method: :delete %>
</div>
