<div id="<%= dom_id message %>">
  <p>
    <strong>Chat order:</strong>
    <%= message.chat_order %>
  </p>

  <p>
    <strong>Uid sender:</strong>
    <%= message.uid_sender_id %>
  </p>

  <p>
    <strong>Uid receiver:</strong>
    <%= message.uid_receiver_id %>
  </p>

  <p>
    <strong>Timestamp:</strong>
    <%= message.timestamp %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= message.message %>
  </p>

</div>
